.DS_Store
.idea/
*.iml

target/
**/target/

*.log
*.tmp
*.env
!*.env.example

.env
.env.*
!.env.example

node_modules/
dist/
build/

*.class
*.jar
*.war
*.ear

monitoring/**/data/

integration/
intergation/
