VNPT_EKYC_ACCESS_TOKEN=Bearer <ekyc_access_token>
VNPT_EKYC_TOKEN_ID=<ekyc_token_id>
VNPT_EKYC_TOKEN_KEY=<ekyc_token_key>
VNPT_EKYC_BASE_URL=

VNPT_NFC_ACCESS_TOKEN=Bearer <nfc_access_token>
VNPT_NFC_TOKEN_ID=<nfc_token_id>
VNPT_NFC_TOKEN_KEY=<nfc_token_key>
VNPT_NFC_BASE_URL=

VNPT_NFC_EKYC_ACCESS_TOKEN=Bearer <ekyc_access_token_for_nfc>
VNPT_NFC_EKYC_TOKEN_ID=<ekyc_token_id_for_nfc>
VNPT_NFC_EKYC_TOKEN_KEY=<ekyc_token_key_for_nfc>
